# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
env/
venv/
ENV/
env.bak/
venv.bak/
*.egg-info/

# Node
node_modules/

# System Files
.DS_Store
Thumbs.db

# VS Code settings
.vscode/

# PyCharm settings
.idea/

# Logs
*.log
